{% extends "Main/LayoutDescripcion.html" %}
{% block body %}
<head>
    <title>
        Peliculas - descripcion
    </title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='/css/app.css')}}">
</head>
<body>
<div class="nav-wrapper1">
    <div class="container1">
        <div class="nav">
            <a href="indexMain" class="logo">
                <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
            </a>
            <ul class="nav-menu" id="nav-menu">
                <li><a href="indexMain">Inicio</a></li>
                <li><a href="./Peliculas.html">Peliculas</a></li>
                <li><a href="./acercaDe.html">Acerca de</a></li>
                <li>
                    <a href="./main.html" class="btn btn-hover">
                        <span>Iniciar sesion</span>
                    </a>
                </li>
            </ul>
            <!-- MENU PARA CELULAR -->
            <div class="hamburger-menu" id="hamburger-menu">
                <div class="hamburger"></div>
            </div>
            <!-- fin MENU PARA CELULAR -->
        </div>
    </div>
</div>
<!-- FIN NAV -->
<div class='container movie__overview'>
    <div class='container movie__overview-wrapper'>
    <div class='backdrop__container'>
    <img alt='' class='backdrop__image' src='https://i.ytimg.com/vi/dSXVTsXUUIU/maxresdefault.jpg'/>
    </div>
    <div class='view'>
    <div class='view__wrapper'>
    <div class='view__poster'>
    <img src='https://1.bp.blogspot.com/-HmxMUfvhBys/X8ttOEiZu3I/AAAAAAAAGS0/3QPvdBzMbawRLLtm4xnkJD9-AiD4EJX0wCLcBGAsYHQ/s1401/The%2BCall%2BPoster.jpg'/>
    </div>
    <div class='view__details'>
    <h1 class='view__title'>Call
    <span>(2021)</span></h1>
    <p class='view__info mb-0'>
    <i class='fa fa-star'></i>&nbsp;8.1   &nbsp;&nbsp;
    <i class='fa fa-clock'></i>&nbsp; 50m
    </p>
    <p class='mt-0 text-subtle'>
    <span>Serie</span> /
    <span>Acción</span> /
    <span>Aventura</span> /
    <span>Misterio</span>
    </p>
    <p class='view__overview'>Todo inicia cuando una operadora veterana del 911 llamada Jordan Turner (Halle Berry),
         perteneciente al Departamento de Policía de Los Ángeles, recibe una llamada de la adolescente Leah Templeton 
         (Evie Thompson), la cual se despierta al notar que un hombre entró a su casa. Jordan le indica que suba las 
         escaleras y se encierre en su habitación, y, para engañar al hombre, que finja que ha huido por la ventana.
         Leah se oculta debajo de su cama. El hombre entra a la habitación y cae en la trampa, por lo que procede a bajar
         las escaleras para salir de la casa. La llamada repentinamente se corta y Jordan vuelve a llamar a Leah, 
         dando así su ubicación en la casa por el sonido del teléfono. El hombre le saca el teléfono a Leah y Jordan
         trata de evitar que haga algo, asegurando que la policía está en camino, a lo que el hombre contesta "Ya está 
         hecho" y corta, dejando a Jordan con la intriga. Unos días más tarde, Jordan ve las noticias, confirmando que 
         Leah ha sido asesinada. Jordan, afectada por el suceso, le dice a su novio, el Oficial Paul Phillips (Morris Chestnut),
         que ya no puede seguir atendiendo llamadas..</p>
    <div class='view__actions'> 
    <button id="Trailer" class="button--primary"><a href="#TrailerShow" >Ver Trailer &nbsp;&nbsp;<i class='fa fa-play'></i></a></button>&nbsp;
    <button class='button--download'>
    <a href='https://ouo.io/V0Akdu' target='_blank'>Optener Ticket&nbsp;&nbsp;<i class='fa fa-download'></i></a>
    </button>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div id="TrailerShow" class='container__wrapper'>
    <div id='main__player'>
    <div class='flex__center watch__title'>
    <h1 class='flex__center'>Trailer</h1>
    <div  class="text-center"> 
        <option value='https://www.youtube.com/embed/dSXVTsXUUIU' class="rounded"></option>
    </div>
    </select>
    </div>
    <iframe allowfullscreen='' frameborder='0' height='600' id='main__iframe' name='main__iframe' playsinline='' scrolling='no' src='https://www.youtube.com/embed/dSXVTsXUUIU' width='100%'></iframe>
    </div>
    </div>
<!-- FOOTER SECTION -->
<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-6 col-sm-12">
                <div class="content">
                    <a href="#" class="logo">
                        <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut veniam ex quos hic id nobis
                        beatae earum sapiente! Quod ipsa exercitationem officiis non error illum minima iusto et.
                        Dolores, quibusdam?
                    </p>
                </div>
            </div>
            <div class="col-8 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Help</b></p>
                            <ul class="footer-menu">
                                <li><a href="/acercaDe.html">ACERCA DE NOSOTROS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="social-list">
                        <a href="#" onclick="prueba('facebook')" class="social-item">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-twitter"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER SECTION -->
{% endblock %}