{% extends "Main/LayoutDescripcion.html" %}
{% block body %}
<head>
    <title>
        Peliculas - descripcion
    </title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='/css/app.css')}}">
</head>
<body>
<div class="nav-wrapper1">
    <div class="container1">
        <div class="nav">
            <a href="indexMain" class="logo">
                <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
            </a>
            <ul class="nav-menu" id="nav-menu">
                <li><a href="indexMain">Inicio</a></li>
                <li><a href="./Peliculas.html">Peliculas</a></li>
                <li><a href="./acercaDe.html">Acerca de</a></li>
                <li>
                    <a href="./main.html" class="btn btn-hover">
                        <span>Iniciar sesion</span>
                    </a>
                </li>
            </ul>
            <!-- MENU PARA CELULAR -->
            <div class="hamburger-menu" id="hamburger-menu">
                <div class="hamburger"></div>
            </div>
            <!-- fin MENU PARA CELULAR -->
        </div>
    </div>
</div>
<!-- FIN NAV -->
<div class='container movie__overview'>
    <div class='container movie__overview-wrapper'>
    <div class='backdrop__container'>
    <img alt='' class='backdrop__image' src='https://laverdadnoticias.com/__export/1621882319321/sites/laverdad/img/2021/05/24/resident_evil_infinite_darkness_orden_para_ver.jpg_1267267801.jpg'/>
    </div>
    <div class='view'>
    <div class='view__wrapper'>
    <div class='view__poster'>
    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCojNcSt9MQJ9gDN_ubjAmO1afEo1EEr-RJ0OfglpkLwXPDo_hqtSYPekcgHPWQtQHQCw&usqp=CAU'/>
    </div>
    <div class='view__details'>
    <h1 class='view__title'>Resident Evil 
    <span>(2021)</span></h1>
    <p class='view__info mb-0'>
    <i class='fa fa-star'></i>&nbsp;8.1   &nbsp;&nbsp;
    <i class='fa fa-clock'></i>&nbsp; 50m
    </p>
    <p class='mt-0 text-subtle'>
    <span>Serie</span> /
    <span>Acción</span> /
    <span>Aventura</span> /
    <span>Misterio</span>
    </p>
    <p class='view__overview'>La trama del juego sigue a Chris Redfield y Jill Valentine,
         miembros de una fuerza de élite conocida como S.T.A.R.S., mientras investigan las 
         afueras de Raccoon City tras la desaparición de los miembros de su equipo. Pronto 
         quedan atrapados en una mansión infestada de zombis y diferentes tipos de monstruos..</p>
    <div class='view__actions'> 
    <button id="Trailer" class="button--primary"><a href="#TrailerShow" >Ver Trailer &nbsp;&nbsp;<i class='fa fa-play'></i></a></button>&nbsp;
    <button class='button--download'>
    <a href='https://ouo.io/V0Akdu' target='_blank'>Optener Ticket&nbsp;&nbsp;<i class='fa fa-download'></i></a>
    </button>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div id="TrailerShow" class='container__wrapper'>
    <div id='main__player'>
    <div class='flex__center watch__title'>
    <h1 class='flex__center'>Trailer</h1>
    <div  class="text-center"> 
        <option value='https://www.youtube.com/embed/khjczvGpTUU' class="rounded">Opción 1</option>
    </div>
    </select>
    </div>
    <iframe allowfullscreen='' frameborder='0' height='600' id='main__iframe' name='main__iframe' playsinline='' scrolling='no' src='https://www.youtube.com/embed/khjczvGpTUU' width='100%'></iframe>
    </div>
    </div>
<!-- FOOTER SECTION -->
<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-6 col-sm-12">
                <div class="content">
                    <a href="#" class="logo">
                        <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut veniam ex quos hic id nobis
                        beatae earum sapiente! Quod ipsa exercitationem officiis non error illum minima iusto et.
                        Dolores, quibusdam?
                    </p>
                </div>
            </div>
            <div class="col-8 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Help</b></p>
                            <ul class="footer-menu">
                                <li><a href="/acercaDe.html">ACERCA DE NOSOTROS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="social-list">
                        <a href="#" onclick="prueba('facebook')" class="social-item">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-twitter"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER SECTION -->
{% endblock %}