{% extends "Main/layoutDescripcion.html" %}
{% block body %}
    <div>
        <div class="row">
            <div class="col-3 col-md-6 col-sm-6">
                <div class="content">
                    <a href="#" class="logo">
                        </i>Acer<span class="main-color">Ca</span> De
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt
                        non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias
                        ratione mollitia accusantium, facere ab suscipit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt
                        non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias
                        ratione mollitia accusantium, facere ab suscipit.</p>
                    
                </div>
            </div>
            <div class="col-3 col-md-6 col-sm-6 col-left">
                <div class="content">
                    <a href="#" class="logo">
                        </i>Mi<span class="main-color">si</span>on
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt
                        non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias
                        ratione mollitia accusantium, facere ab suscipit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt
                        non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias
                        ratione mollitia accusantium, facere ab suscipit.</p>
                </div>
            </div>
            <div class="col-3 col-md-6 col-sm-6">
                <div class="content">
                    <a href="#" class="logo">
                        </i>Vi<span class="main-color">si</span>on
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt
                        non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias
                        ratione mollitia accusantium, facere ab suscipit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt
                        non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias
                        ratione mollitia accusantium, facere ab suscipit.</p>
                </div>
            </div>
        </div>
    </div>
</html>
{% endblock %}
