{% extends "Main/layoutDescripcion.html" %}
{% block body %}
<div class="container movie__overview">
    <div class="container movie__overview-wrapper">
      <div class="backdrop__container">
        <img alt="" class="backdrop__image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWMAAE4Uu+oAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=" />
      </div>
      <div class="view">
        <div class="view__wrapper">
          <div class="view__poster">
            <img id="imagen" src="{{imagen}}" />
          </div>
          <div class="view__details">
            <h1 id="titlePelis" class="view__title">
              <span>{{titulo}}</span>
            </h1>
            <p class="view__info mb-0">
              <i class="fa fa-star"></i>&nbsp;8.1&nbsp;&nbsp;
              <i id="duracion" class="fa fa-clock"></i>&nbsp;{{duracion}}
            </p>
            <p id="genero" class="mt-0 text-subtle">
              <span>{{genero}}</span> 
              <span></span> 
              <span></span> 
              <span></span>
            </p>
            <p id="sinopsis" class="view__overview">{{sinopsis}}</p>
            <div class="view__actions">
              <button id="Trailer" class="button--primary">
                <a href="#TrailerShow">Ver Trailer&nbsp;&nbsp;<i class="fa fa-play"></i></a>
              </button>&nbsp;
              <button class="button--download" onclick="redirectToIndexAsientos()">
                <a href="" >Obtener Ticket&nbsp;&nbsp;<i class="fa fa-download"></i></a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="TrailerShow" class="container__wrapper">
    <div id="main__player">
      <div class="flex__center watch__title">
        <h1 class="flex__center">Trailer</h1>
        <div class="text-center">
          <option id="" value="" class="rounded"></option>
        </div>
      </div>
      <div id="video" ></div>
  </div>
{% endblock %}