{% extends "Main/LayoutAsientos.html" %}
{% block body %}
<div class="nav-wrapper">
  <div class="container">
      <div class="nav">
          <a href="#" class="logo">
              <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
          </a>
          <ul class="nav-menu" id="nav-menu">
              <li><a href="indexAdmin">Inicio</a></li>
              <li><a href="./Peliculas.html">Peliculas</a></li>
              <li><a href="./acercaDe.html">Acerca de</a></li>
              <li><a href="indexAsientos">Asientos</a></li>
              <li>
                  <a href="./main.html" class="btn btn-hover">
                      <span>Iniciar sesion</span>
                  </a>
              </li>
          </ul>
          <!-- MENU PARA CELULAR -->
          <div class="hamburger-menu" id="hamburger-menu">
              <div class="hamburger"></div>
          </div>
          <!-- fin MENU PARA CELULAR -->
      </div>
  </div>
</div>

  <div class="card" id="Asientos">
  <div id="contenedor_asietos">
  <div class="movie-container">
      <label>Asientos vendidos</label>
      <select id="movie">
      </select>
    </div>
    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Disponible</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>seleccionado</small>
      </li>
      <li>
        <div class="seat sold"></div>
        <small>Vendidas</small>
      </li>
    </ul>
    <div class="container">
      <div class="screen"></div>
      <div class="row">
        <div id="a1" class="seat"></div>
        <div id="a2" class="seat"></div>
        <div id="a3" class="seat"></div>
        <div id="a4" class="seat"></div>
        <div id="a5" class="seat"></div>
        <div id="a6" class="seat"></div>
        <div id="a7" class="seat"></div>
        <div id="a8" class="seat"></div>
      </div>
      <div class="row">
        <div id="b1" class="seat"></div>
        <div id="b2" class="seat"></div>
        <div id="b3" class="seat"></div>
        <div id="b4" class="seat"></div>
        <div id="b5" class="seat"></div>
        <div id="b6" class="seat"></div>
        <div id="b7" class="seat"></div>
        <div id="b8" class="seat"></div>
      </div>
      <div class="row">
        <div id="c1" class="seat"></div>
        <div id="c2" class="seat"></div>
        <div id="c3" class="seat"></div>
        <div id="c4" class="seat"></div>
        <div id="c5" class="seat"></div>
        <div id="c6" class="seat"></div>
        <div id="c7" class="seat"></div>
        <div id="c8" class="seat"></div>
      </div>
      <div class="row">
        <div id="d1" class="seat"></div>
        <div id="d2" class="seat"></div>
        <div id="d3" class="seat"></div>
        <div id="d4" class="seat"></div>
        <div id="d5" class="seat"></div>
        <div id="d6"class="seat"></div>
        <div id="d8" class="seat"></div>
        <div id="d9" class="seat"></div>
      </div>
      <div class="row">
        <div id="e1" class="seat"></div>
        <div id="e2" class="seat"></div>
        <div id="e3" class="seat"></div>
        <div id="e4" class="seat"></div>
        <div id="e5" class="seat"></div>
        <div id="e6" class="seat"></div>
        <div id="e7" class="seat"></div>
        <div id="e8" class="seat"></div>
      </div>
      <div class="row">
        <div id="f1" class="seat"></div>
        <div id="f2" class="seat"></div>
        <div id="f3" class="seat"></div>
        <div id="f4" class="seat"></div>
        <div id="f5" class="seat"></div>
        <div id="f6" class="seat"></div>
        <div id="f7" class="seat"></div>
        <div id="f8" class="seat"></div>
      </div>
    </div>
  </div>
</div>
  <div class="card" id="contenedor_ticket">
      <title>Generador de Ticket de Cine</title>
      <div class="container" id="formulario">
        <div class="card" id="contenedor_ticket">
          <title>Generador de Ticket de Cine</title>
          <div class="container" id="formulario">
            <div class="card" id="formulario">
              <h3 class="card-title">Generador de Ticket de Cine</h3>
              <form id="ticketForm">
                <div class="form-group">
                  <label for="pelicula">Película:</label>
                  <input type="text" class="form-control" id="pelicula" required readonly>
                </div>
                <div class="form-group">
                  <label for="sala">Sala:</label>
                  <input type="text" class="form-control" id="sala" required readonly>
                </div>
                <div class="form-group">
                  <label for="funcion">Función:</label>
                  <input type="text" class="form-control" id="funcion" required readonly>
                </div>
            <div class="form-group">
              <label for="asientos">Asientos:</label>
              <input type="text" class="form-control" id="asientos" required>
            </div>
            <div class="form-group">
              <label for="metodoPago">Método de Pago:</label>
              <select class="form-control" id="metodoPago" required>
                <option value="efectivo">Efectivo</option>
                <option value="tarjeta">Tarjeta de Crédito</option>
              </select>
            </div>
            <div class="form-group">
              <label for="total">Total por Asiento:</label>
              <input type="number" class="form-control" id="total" required>
            </div>
            <button type="submit" class="btn btn-primary" >Generar Ticket</button>
          </form>
          <div id="ticketResult" style="display: none;">
            <h5>Ticket Generado:</h5>
            <div id="ticketDetails"></div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}