{% extends "Main/LayoutAsientos.html" %}
{% block body %}
<div class="nav-wrapper">
  <div class="container">
      <div class="nav">
          <a href="#" class="logo">
              <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
          </a>
          <ul class="nav-menu" id="nav-menu">
              <li><a href="indexAdmin">Inicio</a></li>
              <li><a href="./Peliculas.html">Peliculas</a></li>
              <li><a href="./acercaDe.html">Acerca de</a></li>
              <li><a href="indexAsientos">Asientos</a></li>
              <li>
                  <a href="./main.html" class="btn btn-hover">
                      <span>Iniciar sesion</span>
                  </a>
              </li>
          </ul>
          <!-- MENU PARA CELULAR -->
          <div class="hamburger-menu" id="hamburger-menu">
              <div class="hamburger"></div>
          </div>
          <!-- fin MENU PARA CELULAR -->
      </div>
  </div>
</div>

  <div class="card" id="Asientos">
  <div value="'" id="contenedor_asietos">
  <div class="movie-container">
      <label>Asientos vendidos</label>
      <select id="movie">
      </select>
    </div>
    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Disponible</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>seleccionado</small>
      </li>
      <li>
        <div class="seat sold"></div>
        <small>Vendidas</small>
      </li>
    </ul>
    <div class="container">
      <div class="screen"></div>
      <div class="row">
        <div value ="a1" id="a1" class="seat"></div>
        <div value="a2" id="a2" class="seat"></div>
        <div value="a3" id="a3" class="seat"></div>
        <div value="a4" id="a4" class="seat"></div>
        <div value="a5" id="a5" class="seat"></div>
        <div value="a6" id="a6" class="seat"></div>
        <div value="a7" id="a7" class="seat"></div>
        <div value="a8" id="a8" class="seat"></div>
      </div>
      <div class="row">
        <div value="b1" id="b1" class="seat"></div>
        <div value="b2" id="b2" class="seat"></div>
        <div value="b3" id="b3" class="seat"></div>
        <div value="b4" id="b4" class="seat"></div>
        <div value="b5" id="b5" class="seat"></div>
        <div value="b6" id="b6" class="seat"></div>
        <div value="b7" id="b7" class="seat"></div>
        <div value="b8" id="b8" class="seat"></div>
      </div>
      <div class="row">
        <div value="c1" id="c1" class="seat"></div>
        <div value="c2" id="c2" class="seat"></div>
        <div value="c3" id="c3" class="seat"></div>
        <div value="c4" id="c4" class="seat"></div>
        <div value="c5" id="c5" class="seat"></div>
        <div value="c6" id="c6" class="seat"></div>
        <div value="c7" id="c7" class="seat"></div>
        <div value="c8" id="c8" class="seat"></div>
      </div>
      <div class="row">
        <div value="d1" id="d1" class="seat"></div>
        <div value="d2" id="d2" class="seat"></div>
        <div value="d3" id="d3" class="seat"></div>
        <div value="d4" id="d4" class="seat"></div>
        <div value="d5" id="d5" class="seat"></div>
        <div value="d6" id="d6"class="seat"></div>
        <div value="d7" id="d7" class="seat"></div>
        <div value="d8" id="d8" class="seat"></div>
      </div>
      <div class="row">
        <div value="e1" id="e1" class="seat"></div>
        <div value="e2" id="e2" class="seat"></div>
        <div value="e3" id="e3" class="seat"></div>
        <div value="e4" id="e4" class="seat"></div>
        <div value="e5" id="e5" class="seat"></div>
        <div value="e6" id="e6" class="seat"></div>
        <div value="e7" id="e7" class="seat"></div>
        <div value="e8" id="e8" class="seat"></div>
      </div>
      <div class="row">
        <div value="f1" id="f1" class="seat"></div>
        <div value="f2" id="f2" class="seat"></div>
        <div value="f3" id="f3" class="seat"></div>
        <div value="f4" id="f4" class="seat"></div>
        <div value="f5" id="f5" class="seat"></div>
        <div value="f6" id="f6" class="seat"></div>
        <div value="f7" id="f7" class="seat"></div>
        <div value="f8" id="f8" class="seat"></div>
      </div>
    </div>
  </div>
</div>
  <div class="card" id="contenedor_ticket">
      <title>Generador de Ticket de Cine</title>
      <div class="container" id="formulario">
        <div class="card" id="contenedor_ticket">
          <title>Generador de Ticket de Cine</title>
          <div class="container" id="formulario">
            <div class="card" id="formulario">
              <h3 class="card-title">Generador de Ticket de Cine</h3>
              <form id="ticketForm">
                <div class="form-group">
                  <label for="pelicula">Película:</label>
                  <input type="text" class="form-control" id="pelicula" required readonly>
                </div>
                <div class="form-group">
                  <label for="sala">Sala:</label>
                  <input type="text" class="form-control" id="id_sala" required readonly>
                </div>
                <div class="form-group">
                  <label for="funcion">Función:</label>
                  <input type="text" class="form-control" id="id_funcion" required readonly>
                </div>
            <div class="form-group">
              <label for="asientos">Asientos:</label>
              <input type="number" class="form-control" id="asientos" required>
            </div>
            <div class="form-group">
              <label for="metodoPago">Método de Pago:</label>
              <select class="form-control" id="metodoPago" required>
                <option value="efectivo">Efectivo</option>
                <option value="tarjeta">Tarjeta de Crédito</option>
              </select>
            </div>
            <div class="form-group">
              <label for="total">Total por Asiento:</label>
              <input type="number" class="form-control" id="total" required>
            </div>
            <button type="submit" class="btn btn-primary" >Generar Ticket</button>
          </form>
          <div value="'" id="ticketResult" style="display: none;">
            <h5>Ticket Generado:</h5>
            <div value="'" id="ticketDetails"></div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}