{% extends "Main/LayoutMainLogin.html" %}
{% block body %}
<div class="login-box">
    <!--Titulo del box-->
    <h2>Register</h2>
    <!--Formulario de login-->
    <form>
      <!--Nombre de usuario-->
      <div class="user-box">
        <input id="Nombre_user" type="text" name="" required>
        <label>Nombre Completo</label>
      </div>
      <div class="user-box">
        <input id="Rol_user" type="text" name="" required>
        <label>Rol</label>
      </div>
      <div class="user-box">
        <input id="Correo_user" type="text" name="" required="">
        <label>Correo electronico</label>
      </div>
      <!--Fin Nombre de usuario-->
      <!--Contraseña-->
      <div class="user-box">
        <input id="Contrasena_user" type="password" name="" required="">
        <label>Contraseña</label>
      </div>
      <!--Contraseña-->
      <!--Boton para login-->
      <a onclick="valuesRegister()" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Registrar
      </a>
      <!--Fin boton-->
    </form>
    <!--fin Formulario de login-->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!--Fin Box para el login-->
  {% endblock %}