{% extends "Main/LayoutAsientos.html" %}
{% block body %}
<div class="nav-wrapper">
  <div class="container">
      <div class="nav">
          <a href="#" class="logo">
              <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
          </a>
          <ul class="nav-menu" id="nav-menu">
              <li id="usuario"><a href="#">Inicio</a></li>
              <li><a href="IndexAcercaDe">Acerca de</a></li>
              <li>
                  <a href="#"  id="user-menu" style="display: none;">
                      <span id="user-name"></span>
                      <i class="bx bx-chevron-down"></i>
                  </a>
                  <ul class="sub-menu" id="user-submenu">
                      <li><a href="#" id="logout">Cerrar sesión</a></li>
                  </ul>
              </li>
          </ul>
          <!-- MENU PARA CELULAR -->
          <div class="hamburger-menu" id="hamburger-menu">
              <div class="hamburger"></div>
          </div>
          <!-- fin MENU PARA CELULAR -->
      </div>
  </div>
</div>

<div class="card" id="Asientos">
  <div value="'" id="contenedor_asientos">
    <div class="movie-container">
      <label>Asientos vendidos</label>
      <select id="movie"></select>
    </div>
    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Disponible</small>
      </li>
      <li>
        <div class="seat"></div>
        <small>Seleccionado</small>
      </li>
      <li>
        <div class="seat sold"></div>
        <small>Vendidas</small>
      </li>
    </ul>
    <div class="container">
      <div class="screen"></div>
      <div class="row">
        <div id="a1" class="seat" data-id="a1"></div>
        <div id="a2" class="seat" data-id="a2"></div>
        <div id="a3" class="seat" data-id="a3"></div>
        <div id="a4" class="seat" data-id="a4"></div>
        <div id="a5" class="seat" data-id="a5"></div>
        <div id="a6" class="seat" data-id="a6"></div>
        <div id="a7" class="seat" data-id="a7"></div>
        <div id="a8" class="seat" data-id="a8"></div>
      </div>
      <div class="row">
        <div id="b1" class="seat" data-id="b1"></div>
        <div id="b2" class="seat" data-id="b2"></div>
        <div id="b3" class="seat" data-id="b3"></div>
        <div id="b4" class="seat" data-id="b4"></div>
        <div id="b5" class="seat" data-id="b5"></div>
        <div id="b6" class="seat" data-id="b6"></div>
        <div id="b7" class="seat" data-id="b7"></div>
        <div id="b8" class="seat" data-id="b8"></div>
      </div>
      <div class="row">
        <div id="c1" class="seat" data-id="c1"></div>
        <div id="c2" class="seat" data-id="c2"></div>
        <div id="c3" class="seat" data-id="c3"></div>
        <div id="c4" class="seat" data-id="c4"></div>
        <div id="c5" class="seat" data-id="c5"></div>
        <div id="c6" class="seat" data-id="c6"></div>
        <div id="c7" class="seat" data-id="c7"></div>
        <div id="c8" class="seat" data-id="c8"></div>
      </div>
      <div class="row">
        <div id="d1" class="seat" data-id="d1"></div>
        <div id="d2" class="seat" data-id="d2"></div>
        <div id="d3" class="seat" data-id="d3"></div>
        <div id="d4" class="seat" data-id="d4"></div>
        <div id="d5" class="seat" data-id="d5"></div>
        <div id="d6" class="seat" data-id="d6"></div>
        <div id="d7" class="seat" data-id="d7"></div>
        <div id="d8" class="seat" data-id="d8"></div>
      </div>
      <div class="row">
        <div id="e1" class="seat" data-id="e1"></div>
        <div id="e2" class="seat" data-id="e2"></div>
        <div id="e3" class="seat" data-id="e3"></div>
        <div id="e4" class="seat" data-id="e4"></div>
        <div id="e5" class="seat" data-id="e5"></div>
        <div id="e6" class="seat" data-id="e6"></div>
        <div id="e7" class="seat" data-id="e7"></div>
        <div id="e8" class="seat" data-id="e8"></div>
      </div>
      <div class="row">
        <div id="f1" class="seat" data-id="f1"></div>
        <div id="f2" class="seat" data-id="f2"></div>
        <div id="f3" class="seat" data-id="f3"></div>
        <div id="f4" class="seat" data-id="f4"></div>
        <div id="f5" class="seat" data-id="f5"></div>
        <div id="f6" class="seat" data-id="f6"></div>
        <div id="f7" class="seat" data-id="f7"></div>
        <div id="f8" class="seat" data-id="f8"></div>
      </div>
    </div>
  </div>
  <button onclick="" type="submit" class="btn " id="mostrar_asientos_button"></button>
</div>
  <div class="card" id="contenedor_ticket">
      <title>Generador de Ticket de Cine</title>
      <div class="container" id="formulario">
        <div class="card" id="contenedor_ticket">
          <title>Generador de Ticket de Cine</title>
          <div class="container" id="formulario">
            <div class="card" id="formulario">
              <h3 class="card-title">Generador de Ticket de Cine</h3>
              <form id="ticketForm">
                <div class="form-group">
                  <label for="pelicula">Película:</label>
                  <input type="text" class="form-control" id="pelicula" required readonly>
                </div>
                <div class="form-group">
                  <label for="sala">Sala:</label>
                  <input type="text" class="form-control" id="id_sala" required readonly>
                </div>
                <div class="form-group">
                  <label for="funcion">Función:</label>
                  <input type="text" class="form-control" id="id_funcion" required readonly>
                </div>
            <div class="form-group">
              <label for="asientos">Asientos:</label>
              <input type="number" class="form-control" id="asientos" required>
            </div>
            <div class="form-group">
              <label for="metodoPago">Método de Pago:</label>
              <select class="form-control" id="metodoPago" required>
                <option value="efectivo">Efectivo</option>
                <option value="tarjeta">Tarjeta de Crédito</option>
              </select>
            </div>
            <div class="form-group">
              <label for="total">Total por Asiento:</label>
              <input type="number" class="form-control" id="total" required>
            </div>
            <button onclick="saveAsientos()" type="submit" class="btn btn-primary" >Comprar Ticket</button>
          </form>
          <div value="'" id="ticketResult" style="display: none;">
            <h5>Ticket Generado:</h5>
            <div value="'" id="ticketDetails"></div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </div>
{% endblock %}