{% extends "Main/LayoutMainLogin.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <!--Peliculas-->
    
    </title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
        rel="stylesheet">
    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='/css/grid.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/app.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/Tabla-Guardar.css')}}">
</head>
<body>
<div class="nav-wrapper">
    <div class="container">
        <div class="nav">
            <a href="#" class="logo">
                <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
            </a>
            <ul class="nav-menu" id="nav-menu">
                <li><a href="indexMain">Inicio</a></li>
                <li><a href="indexMain">Peliculas</a></li>
                <li><a href="./acercaDe.html">Acerca de</a></li>
                <li><a href="indexAsientos">Asientos</a></li>
                <li>
                    <a href="./main.html" class="btn btn-hover">
                        <span>Iniciar sesion</span>
                    </a>
                </li>
            </ul>
            <!-- MENU PARA CELULAR -->
            <div class="hamburger-menu" id="hamburger-menu">
                <div class="hamburger"></div>
            </div>
            <!-- fin MENU PARA CELULAR -->
        </div>
    </div>
</div>
<!-- FIN NAV -->

<!-- INICIAR SESION -->

            <!-- FIN PELICULA DEL SLIDE -->
        </div>
        <input id='inputId' type="text"  placeholder="Escribe..." id="id">
      </div>
    </div>
    <!------>
    <div class="Titulo">
      <div class="form-group">
        <label>Título:</label>
        <input id='inputTitle' type="text" placeholder="Escribe..." id="titulo">
      </div>
       <!------>
      <div class="form-group">
        <label>Género:</label>
        <input id='inputGenero' type="text" placeholder="Escribe..."  id="genero">
      </div>
       <!------>
      <div class="form-group">
        <label>Duración:</label>
        <input id='inputDuracion' type="text"class="Duracion" placeholder="Escribe..."  id="duracion">
      </div>
       <!------>
      <div class="form-group">
        <label>Sinopsis:</label>
        <input id='inputSinopsys' type="text"class="Sinopsis"  placeholder="Escribe..." id="sinopsis"></input id='inputID'>
      </div>
       <!------>
      <div class="form-group">
        <label>Director:</label>
        <input id='inputDirector' type="text" class="Director" placeholder="Escribe..."  id="director">
      </div>
       <!------>
      <div class="form-group">
        <label>Imagen:</label>
        <input id='inputImg' type="text" class="Imagen" placeholder="Escribe..." id="imagen">
      </div>
       <!------>
      <button onclick='addPelis()' type="submit">Agregar</button>
    </form>
  </div>

  <div class="table-container">
    <h2>Películas</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Género</th>
          <th>Duración</th>
          <th>Sinopsis</th>
          <th>Director</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody id="peliculas-lista">
        <!-- Aquí se agregarán las filas dinámicamente -->
      </tbody>
    </table>
  </div>
  <!-- FOOTER SECTION -->
<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-6 col-sm-12">
                <div class="content">
                    <a href="#" class="logo">
                        <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut veniam ex quos hic id nobis beatae earum sapiente! Quod ipsa exercitationem officiis non error illum minima iusto et. Dolores, quibusdam?
                    </p>
                </div>
            </div>
            <div class="col-8 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Help</b></p>
                            <ul class="footer-menu">
                                <li><a href="/acercaDe.html">ACERCA DE NOSOTROS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="social-list">
                        <a href="#" class="social-item">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-twitter"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- OWL CAROUSEL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
{% endblock %}