{% extends "Main/LayoutAcerca.html" %}
{% block body %}
  <!-- NAV -->
  <div class="nav-wrapper">
    <div class="container">
        <div class="nav">
            <a href="#" class="logo">
                <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
            </a>
            <ul class="nav-menu" id="nav-menu">
                <li id="usuario"><a href="#">Inicio</a></li>
                <li><a href="IndexAcercaDe">Acerca de</a></li>
                <li>
                    <a href="#"  id="user-menu" style="display: none;">
                        <span id="user-name"></span>
                        <i class="bx bx-chevron-down"></i>
                    </a>
                    <ul class="sub-menu" id="user-submenu">
                        <li><a href="#" id="logout">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
            <!-- MENU PARA CELULAR -->
            <div class="hamburger-menu" id="hamburger-menu">
                <div class="hamburger"></div>
            </div>
            <!-- fin MENU PARA CELULAR -->
        </div>
    </div>
</div>
    <!-- END NAV -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <div class="row">
            <div class="col-3 col-md-6 col-sm-6">
                <div class="content">
                    <a href="#" class="logo">
                        </i>Acer<span class="main-color">Ca</span> De
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt
                        non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias
                        ratione mollitia accusantium, facere ab suscipit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt
                        non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias
                        ratione mollitia accusantium, facere ab suscipit.</p>
                    
                </div>
            </div>
            <div class="col-3 col-md-6 col-sm-6 col-left">
                <div class="content">
                    <a href="#" class="logo">
                        </i>Mi<span class="main-color">si</span>on
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt
                        non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias
                        ratione mollitia accusantium, facere ab suscipit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt
                        non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias
                        ratione mollitia accusantium, facere ab suscipit.</p>
                </div>
            </div>
            <div class="col-3 col-md-6 col-sm-6">
                <div class="content">
                    <a href="#" class="logo">
                        </i>Vi<span class="main-color">si</span>on
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt
                        non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias
                        ratione mollitia accusantium, facere ab suscipit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt
                        non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias
                        ratione mollitia accusantium, facere ab suscipit.</p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- FOOTER SECTION -->
    <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-6 col-sm-12">
                    <div class="content">
                        <a href="#" class="logo">
                            <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut veniam ex quos hic id nobis
                            beatae earum sapiente! Quod ipsa exercitationem officiis non error illum minima iusto et.
                            Dolores, quibusdam?
                        </p>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Help</b></p>
                                <ul class="footer-menu">
                                    <li><a href="/acercaDe.html">ACERCA DE NOSOTROS</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="social-list">
                            <a href="#" class="social-item">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-twitter"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->
</html>
{% endblock %}
