<!DOCTYPE html>
<html lang="es">
<!---AQUI ESTAN MIS CSS-->
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel='stylesheet'/>
<link rel="stylesheet" href="{{url_for('static', filename='/css/descrip.css')}}">
<!---ESTA ES EL CSS DE LOGIN-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

{% block body %}
{% endblock %}
<!---AQUI ESTAN MIS jS DE L-->

<script src="{{url_for('static', filename='/js/BIJS/descripcion.js')}}"></script>
<script src="{{url_for('static', filename='/js/BIJS/main.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>