{% extends "Main/LayoutMainLogin.html" %}
{% block body %}
<div class="login-box">
    <!--Titulo del box-->
    <h2>Register</h2>
    <!--Formulario de login-->
    <form>
      <!--Nombre de usuario-->
      <div id="Nombre_user" class="user-box">
        <input type="text" name="" required>
        <label>Nombre Completo</label>
      </div>
      <div id="Rol_user" class="user-box">
        <input type="text" name="" required>
        <label>Rol</label>
      </div>
      <div id="Correo_user" class="user-box">
        <input type="text" name="" required="">
        <label>Correo electronico</label>
      </div>
      <!--Fin Nombre de usuario-->
      <!--Contraseña-->
      <div id="Contrasena_user" class="user-box">
        <input type="password" name="" required="">
        <label>Contraseña</label>
      </div>
      <!--Contraseña-->
      <!--Boton para login-->
      <a href="/fronted/indexmainlogin">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Registrar
      </a>
      <!--Fin boton-->
    </form>
    <!--fin Formulario de login-->
  </div>
  <!--Fin Box para el login-->
  {% endblock %}