span.showpagePoint {
border-radius: 5px;
background: #1c1c1c;
padding: 6px 13px !important;
border: 1px solid black;
}
span.showpageNum a:active {
color: #eee !important;
text-shadow: 0 -1px black;
background: #1c1c1c;
background: rgba(255, 255, 255, 0.01);
border-color: black rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.6);
-webkit-box-shadow: inset 0 1px rgb(0 0 0 / 5%), inset 0 2px 2px rgb(0 0 0 / 30%), 0 1px rgb(255 255 255 / 6%);
box-shadow: inset 0 1px rgb(0 0 0 / 5%), inset 0 2px 2px rgb(0 0 0 / 30%), 0 1px rgb(255 255 255 / 6%);
}
.sh__arrows:hover, .sheetSlider:hover .sh-control, .sheetSlider:hover .sh__arrows {
display: none;
transform: translate3d(0,0,0);
}
.sh__btns label {
flex: none;
background-color: rgba(255,255,255,.5);
cursor: pointer;
margin: 4px !important;
height: 10px;
width: 10px;
transition: background .5s;
border-radius: 100%;
}
.sh__btns {
bottom: 0;
left: 0;
right: 0;
position: absolute;
z-index: 10;
padding-left: 4em;
padding-right: 4em;
justify-content: center;
}
span.bak {
background: linear-gradient(0deg, #0b0c0e,#0b0c0e91, #00000030,#0b0c0e91,#0b0c0e,#0b0c0e);
width: 100%;
height: 100%;
position: fixed;
}
a.lightbox-image-link {
margin: auto;
background: aqua;
overflow: hidden;
display: block;
width: 147px;
height: 46px;
margin-top: 10px;
border-radius: 5px;
}
a.lightbox-image-link img {
width: 100%;
height: 100%;
}
p img {
width: 200px;
}
.fa-star:before {
margin-right: 4px;
content: "\f005";
font-size: 10px;
color: #f7c201;
}
div#blog-pager {
text-align: center;
}
div#blog-pager a {
background: #0f938b;
padding: 10px;
color: #fff;
transition: all .23s;
border-radius: 5px;
}
section {
width: 100%;
display: inline-block;
background: #ccc;
height: 60vh;
text-align: center;
font-size: 22px;
font-weight: 700;
text-decoration: underline;
}
.footer-distributed {
margin-top: 50px;
background-color: rgb(35 35 35);
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
font: normal 16px sans-serif;
padding: 45px 50px;
}
.footer-distributed .footer-left p {
color: #8f9296;
font-size: 14px;
margin: 0;
}
/* Footer links */
.footer-distributed p.footer-links {
font-size: 18px;
font-weight: bold;
color: #ffffff;
margin: 0 0 10px;
padding: 0;
transition: ease .25s;
}
.footer-distributed p.footer-links a {
display: inline-block;
line-height: 1.8;
text-decoration: none;
color: inherit;
transition: ease .25s;
}
.footer-distributed .footer-links a:before {
content: "&#183;";
font-size: 20px;
left: 0;
color: #fff;
display: inline-block;
padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
content: none;
}
.footer-distributed .footer-right {
float: right;
margin-top: 6px;
max-width: 180px;
}
.footer-distributed .footer-right a {
display: inline-block;
width: 35px;
height: 35px;
background-color: #000000;
border-radius: 2px;
font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;
margin-left: 3px;
transition: all .25s;
border-radius: 5px;
}
.footer-distributed .footer-right a:hover {
transform: scale(1.1);
border-left: 5px solid #17d2b1;
border-right: 5px solid #ec0000;
border-bottom: 29px solid transparent;
}
.footer-distributed p.footer-links a:hover{text-decoration:underline;}
/* Media Queries */
@media (max-width: 600px) {
.footer-distributed .footer-left, .footer-distributed .footer-right {
text-align: center;
}
.footer-distributed .footer-right {
float: none;
margin: 0 auto 20px;
}
.footer-distributed .footer-left p.footer-links {
line-height: 1.8;
}
}
iframe {
width: 90%;
}
.info p {
line-height: normal;
color: #e2e2e2;
hyphens: auto;
height: 149px;
overflow: overlay;
padding-right: 15px;
text-align: justify;
padding-left: 3px;
font-weight: 500;
}
.cover {
border-radius: 5px;
width: 220px;
margin-bottom: 10px;
margin-left: 5px;
margin-right: 5px;
display: inline-block;
height: 333px;
overflow: hidden;
box-shadow: 0px 4px 10px 1px rgb(0 0 0 / 55%);
position: relative;
border: 2px solid rgba(0, 0, 0, 0.33);
background: #000;
}
.cover img {
width: 100%;
height: 100%;
transition: .3s all ease;
}
.cover:hover img {
transform: translate(0px, 38px);
filter: grayscale(1) opacity(0.5);
}
.cover .header {
position: absolute;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.44);
width: 100%;
top: -130px;
transition: .3s all ease;
}
.cover .header .type {
float: left;
background-color: #232323;
color: #fff;
padding: 10px 19px;
}
.cover .header .seen {
font-size: 19px;
float: right;
color: #ead903;
padding: 10px 30px;
font-weight: 900;
}
.cover:hover .header {
top: 0
}
.cover .info {
position: absolute;
color: #fff;
margin-top: 67px;
text-align: center;
z-index: 9999;
bottom: -250px;
transition: 0.5s;
}
.cover:hover .info h3 {
opacity: 1;
}
.cover .info h3 {
transition: all .3s;
opacity: 0;
font-weight: bold;
}
.cover .info button {
border: 0;
padding: 13px;
width: 100%;
color: #fff;
background: #0f9880;
font-size: 19px;
justify-content: center;
border-radius: 0px;
}
.cover:hover .info{
bottom:0;
}
span.f {
max-height: 200px;
overflow: overlay;
}
.sh-control, .sheetSlider a, .sheetSlider h4, .sheetSlider img, .sheetSlider label, .sheetSlider span {
padding: 0;
margin: 0;
border: 0;
outline: 0;
box-shadow: 0 0 transparent;
text-decoration: none;
}
iframe#main__iframe {
width: 90%;
height: 500px;
}
.sh__meta.hola img {
border-radius: 5px;
border: 2px solid #17d2b1;
position: absolute;
left: 0;
right: 0;
top: 20px;
bottom: 0;
text-align: center;
}
.sh__meta {
width: 50%;
top: 8em !important;
}
.sh__meta.hola {
left: 70%;
position: absolute;
max-width: 83%;
opacity: 0;
transform: translate3d(0,4em,0);
transition: opacity .7s .4s,transform .7s .4s;
width: 20%;
}
.ir h1{
text-shadow: none;
color: #17d2b1 !important;
border: 1px solid #17d2b1 !important;
width: 100px !important;
background: #272829 !important;
text-align: center !important;
border-radius: 5px !important;
transition: all .5s;
}
.ir h1:hover{
color: #ec0000 !important;
border: 1px solid #ec0000 !important;
}
.sh__meta {
top: 8em !important;
}
/**************************/
/*Fix: Unnecessary elements removed*/
.widget-item-control,.item-control.blog-admin,
.continue,.loadmore,.thread-chrome.thread-collapsed,
.singleton-element:not(.cookie-choices-info),
.noAllowNewComments .comment-reply,
.comments .hidden {display:none}
/*Fix: Show lightbox*/
.CSS_LIGHTBOX{z-index:90001!important}
/*Fix: Responsive images*/
a[style^=margin-left],
a[imageanchor]:not([style*=float]) {
margin-right: 0 !important;
margin-left: 0 !important;
}
.widget-content img,
img[data-original-height],
img[data-original-width] {height: auto;}
/*Fix: Responsive videos*/
.BLOG_video_class, .b-hbp-video, .b-uploade {
max-width: 100%;
}
/*Fix: Comment Editor*/
#comment-editor{
border:0;
width:100%;
min-height:220px
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
.modal-video{
background:rgba(0,0,0,.8)!important;
z-index:999!important
}
.modal-video{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-color:rgba(0,0,0,.5);
z-index:1000000;
cursor:pointer;
opacity:1;
animation-timing-function:ease-out;
animation-duration:.3s;
animation-name:modal-video;
-webkit-transition:opacity .3s ease-out;
-moz-transition:opacity .3s ease-out;
-ms-transition:opacity .3s ease-out;
-o-transition:opacity .3s ease-out;
transition:opacity .3s ease-out
}
.button--download a {
color: #fff;
}
.modal-video-effect-exit{
opacity:0
}
.modal-video-effect-exit .modal-video-movie-wrap{
-webkit-transform:translateY(100px);
-moz-transform:translateY(100px);
-ms-transform:translateY(100px);
-o-transform:translateY(100px);
transform:translateY(100px)
}
.modal-video-body{
max-width:940px;
width:100%;
height:100%;
margin:0 auto;
display:table
}
.modal-video-inner{
display:table-cell;
vertical-align:middle;
width:100%;
height:100%
}
.modal-video-movie-wrap{
width:100%;
height:0;
position:relative;
padding-bottom:56.25%;
background-color:#333;
animation-timing-function:ease-out;
animation-duration:.3s;
animation-name:modal-video-inner;
-webkit-transform:translate(0);
-moz-transform:translate(0);
-ms-transform:translate(0);
-o-transform:translate(0);
transform:translate(0);
-webkit-transition:-webkit-transform .3s ease-out;
-moz-transition:-moz-transform .3s ease-out;
-ms-transition:-ms-transform .3s ease-out;
-o-transition:-o-transform .3s ease-out;
transition:transform .3s ease-out
}
.modal-video-movie-wrap iframe{
position:absolute;
top:0;
left:0;
width:100%;
height:100%
}
.modal-video-close-btn{
position:absolute;
z-index:2;
top:-35px;
right:-35px;
display:inline-block;
width:35px;
height:35px;
overflow:hidden;
border:none;
background:0 0
}
button.button--download {
transition: all .3s;
border: 1px solid #17d2b1;
}
.modal-video-close-btn:before{
transform:rotate(45deg)
}
.modal-video-close-btn:after{
transform:rotate(-45deg)
}
.modal-video-close-btn:after,.modal-video-close-btn:before{
content:"";
position:absolute;
height:2px;
width:100%;
top:50%;
background:#fff;
border-radius:5px;
margin-top:-6px
}
:root[data-theme=default]{
--background-color:#0b0c0e;
--nav-background:#050607;
--nav-background-scrolled:transparent;
--nav-menu-background:#131519;
--nav-menu-border:#24272f;
--heading-color:#fff;
--text-color:#fff;
--card-text-color:#fff;
--text-color-subtle:#cacaca;
--input-background:#131519;
--input-background-focus:#181b21;
--skeleton-theme-color:#161a1d;
--skeleton-theme-highlight:#181d20;
--star-color:#f7ef47;
--filter-invert:0
}
:root[data-theme=light]{
--background-color:#f6f6f6;
--nav-background:#f8f8f8;
--nav-background-scrolled:#f8f8f8;
--nav-menu-background:#f4f4f4;
--nav-menu-border:#f0f0f0;
--heading-color:#1a1a1a;
--text-color:#313131;
--card-text-color:#313131;
--text-color-subtle:#a1a1a1;
--input-background:#e4e4e4;
--input-background-focus:#d4d4d4;
--skeleton-theme-color:#e4e4e4;
--skeleton-theme-highlight:#ccc;
--star-color:#31adff;
--filter-invert:1
}
*{
box-sizing:border-box;
letter-spacing:.5px
}
html{
font-size:62.5%
}
body{
font-size:1.6rem;
background:var(--background-color,#0b0e10);
color:var(--text-color,#f5f5f5)
}
body,h1,h2,h3,h4,h5,h6{
font-family:Yantramanav,Helvetica,Arial,sans-serif
}
h1,h2,h3,h4,h5,h6{
color:var(--heading-color,#fff)
}
h1{
line-height:5rem
}
p{
font-size:1.6rem;
line-height:3rem;
color:var(--text-color,#f5f5f5)
}
a{
text-decoration:none;
color:#31adff
}
a:hover{
cursor:pointer;
color:#30aeb8;
}
i,li,span{
color:var(--text-color,#f5f5f5)
}
.btn{
display:inline-block;
padding:6px 12px;
margin-bottom:0;
font-size:14px;
font-weight:400;
line-height:1.42857143;
text-align:center;
white-space:nowrap;
vertical-align:middle;
-ms-touch-action:manipulation;
touch-action:manipulation;
cursor:pointer;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
background-image:none;
border:1px solid transparent;
border-radius:2px
}
.modal__link,button{
background:0 0;
border:none;
padding:1.6rem 3.2rem;
border-radius:.6rem;
font-weight:700;
display:flex;
justify-content:space-between;
align-items:center;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
transition:all .3s ease
}
.modal__link:hover,button:hover{
cursor:pointer
}
.modal__link:focus,button:focus{
outline:0
}
.modal__link:disabled,button:disabled{
cursor:not-allowed;
opacity:.5
}
@font-face {
font-family: 'Yantramanav';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://fonts.gstatic.com/s/yantramanav/v6/flU8Rqu5zY00QEpyWJYWN5fzXeY.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.info p::-webkit-scrollbar{
width:7px
}
.info p::-webkit-scrollbar-track{
background: rgb(236 0 0 / 16%);
-webkit-box-shadow:inset 0 0 4px rgb(236 0 0 / 0%)
}
.info p::-webkit-scrollbar-thumb{
background-color:#17d2b1;
outline:2px solid rgba(0,0,0,.1);
border-radius:.6rem
}
body::-webkit-scrollbar{
width:7px
}
body::-webkit-scrollbar-track{
background: rgb(236 0 0 / 16%);
-webkit-box-shadow:inset 0 0 4px rgb(236 0 0 / 0%)
}
body::-webkit-scrollbar-thumb{
background-color:#17d2b1;
outline:2px solid rgba(0,0,0,.1);
border-radius:.6rem
}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=text],textarea{
color:var(--text-color,#f5f5f5);
font-size:1.6rem;
background:var(--input-background);
border:none;
border-radius:.6rem;
padding:11px;
}
input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=text]:focus,textarea:focus{
background:var(--input-background-focus);
outline:0
}
#app{
display:flex;
flex-direction:column;
position:relative
}
#main{
width:100%;
min-height:100vh;
z-index:20
}
select{
padding-left:1.2rem;
padding-right:1.2rem;
font-size:16px;
line-height:1;
border:0;
border-radius:.6rem;
height:38px;
background:#25bdb5;
color:#fff
}
select:focus{
outline:0
}
select::-webkit-scrollbar{
width:7px
}
select::-webkit-scrollbar-track{
-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.3)
}
select::-webkit-scrollbar-thumb{
background-color:#31adff;
outline:1px solid #64c1ff
}
.button--primary,.modal__link{
background: #25bdb5;
color: #fff;
border: 1px solid #1c928e;
font-size: 1.5rem;
}
.button--primary:hover,.modal__link:hover{
background:#2d96a3;
}
.button--primary i,.modal__link i{
color:#fff
}
.button--outlined{
border:1px solid var(--text-color)
}
.button--outlined,.button--outlined i{
color:var(--text-color)
}
.button--link{
padding:1.2rem
}
.button--link svg{
margin:0
}
.button--search{
margin-right:1.6rem
}
.button--search div{
width:20px;
height:20px;
border:1px solid #fff;
border-radius:50%;
position:relative
}
.button--search div:after{
content:"";
position:absolute;
right:-8px;
bottom:-2px;
transform:rotate(45deg);
width:10px;
height:1px;
background:#fff
}
.button--block{
display:block
}
.button--back{
color:#fff;
position:relative;
padding:0 1.6rem;
left:0;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
transition:all .3s ease
}
.button--back:before{
bottom:10px;
width:40px
}
.button--back:after,.button--back:before{
content:"";
position:absolute;
left:-40px;
margin:auto;
height:1px;
background:#fff
}
.button--back:after{
bottom:14px;
width:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
transform:rotate(-45deg)
}
.button--back:hover{
left:-10px
}
.button--add-favorite{
padding:0
}
.button--favorites,.button--download{
color:#fff
}
.button--favorites:hover, .button--download:hover{
color: #fff !important;
background: #ec0000;
border: 2px solid #ec0000 !important;
}
.button--favorites:hover i, .button--download:hover i{
color:#f5f5f5
}
.button--favorites i, .button--download i{
color:#fff
}
.button--key{
text-decoration:none;
color:var(--text-color);
padding:1.2rem;
border:1px solid #cacaca;
border-radius:15px;
display:inline-block;
margin-right:.75rem;
margin-bottom:1.2rem
}
.button--key:hover{
background:hsla(0,0%,100%,.2)
}
.button--icon{
font-size:1.6rem!important
}
.button--muted{
background:#dadada;
color:#313131
}
.button--muted:hover{
background:#c1c1c1
}
.button--muted:disabled{
opacity:1
}
.button--muted i{
color:#313131
}
.search__input{
width:100%;
border-top-right-radius:0;
border-bottom-right-radius:0;
outline:0
}
.search__button{
border-radius:.6rem;
padding:11px;
background:#17d2b1;
border-top-left-radius:0;
border-bottom-left-radius:0
}
.search__button i{
color:#313131
}
.search-history{
position:absolute;
box-shadow:0 15px 30px rgba(0,0,0,.2);
width:100%;
top:70px;
left:0;
border-radius:.6rem;
background:#f6f6f6;
max-height:31.25rem;
overflow-y:scroll;
opacity:0;
visibility:hidden;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
transition:all .3s ease
}
.search-history::-webkit-scrollbar{
width:5px
}
.search-history::-webkit-scrollbar-track{
background:#ddd
}
.search-history::-webkit-scrollbar-thumb{
background-color:#0089e4;
outline:1px solid #64c1ff;
border-radius:2px
}
.search-history p{
padding-left:1.2rem;
color:#313131
}
.search-history a{
display:block;
text-decoration:none;
color:#313131;
padding:1.2rem;
width:100%;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis
}
.search-history a:not(:last-child){
border-bottom:1px solid #ececec
}
.search-history a:hover{
background:#31adff;
color:#fff
}
.search-history.visible{
opacity:1;
visibility:visible
}
.search__toggle{
position:absolute;
right:10px;
display:none;
color:#fff
}
.search-history-action{
display:flex;
justify-content:space-between;
align-items:center
}
.search-clear{
padding:0;
color:#313131;
font-weight:700;
font-size:14px;
margin-right:1.6rem
}
.search__no-result{
text-align:center;
margin-top:4.8rem;
position:relative
}
.search__no-result h1{
opacity:.2
}
.search__no-result i{
color:var(--text-color);
opacity:.2;
font-size:10rem
}
.clear--button{
position:absolute;
left:-20px;
width:25px;
height:25px;
border-radius:50%;
border:1px solid hsla(0,0%,100%,.1)
}
.result__keyword{
color:#31adff
}
.spinner.loading:before{content:"";height:66px;width:66px;margin:-36px auto auto -33px;position:absolute;top:50%;left:50%;border-width:3px;border-style:solid;border-color:#cc0000 #cc0000 #111;border-radius:100%;animation:rotation .7s infinite linear}
@keyframes rotation{from{transform:rotate(0)}to{transform:rotate(359deg)}}
.tooltip{
position:absolute;
bottom:50px;
right:0;
padding:1.2rem;
font-size:12px;
background:#31adff;
border-radius:.6rem;
opacity:0;
visibility:hidden;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
transition:all .3s ease;
z-index:10
}
.tooltip:after{
content:"";
position:absolute;
top:100%;
right:3%;
margin-left:-5px;
border:5px solid transparent;
border-top-color:#31adff
}
.tooltip span{
color:#fff
}
.pagination__wrapper{
margin-bottom:4.8rem;
text-align:center
}
.pagination{
justify-content:space-between;
max-width:60rem;
margin:auto auto 3.125rem
}
.pagination,.pagination li{
display:flex;
align-items:center
}
.pagination li{
list-style:none;
padding:5px 10px;
justify-content:center;
border-radius:.6rem;
color:var(--text-color);
background:var(--input-background)
}
.pagination li:hover{
cursor:pointer;
background:rgba(49,173,255,.2)
}
.pagination li a{
text-decoration:none;
color:var(--text-color);
display:block
}
.pagination li.active{
background:#31adff
}
.pagination li.active a{
color:#fff
}
.img-loaded,.img-loading{
opacity:0;
width:100%;
height:100%;
position:relative;
object-fit:cover
}
.img-loaded{
animation:fadeInImg .5s cubic-bezier(.23,1,.32,1);
animation-fill-mode:forwards;
animation-duration:.7s;
animation-delay:.1s
}
.lazyLoad{
width:100%;
height:100%
}
.card{
width: 180px;
height: 380px;
position: relative;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
transition: all .3s ease;
margin: 5px;
}
.card__image{
border: 2px solid black;
width:100%;
height:270px;
position:relative;
border-radius:.6rem;
overflow:hidden
}
.card__image:before{
content:"";
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
margin:auto;
width:99%;
height:99%;
background:var(--input-background);
z-index:0
}
.card__image img{
border-radius:6px;
box-shadow:0 10px 30px rgba(0,0,0,.4)
}
.card__image img,.card__image>div,.card__image>span{
position:relative;
z-index:1
}
.card__details .star-ratings{
margin-top:1.2rem
}
.card__details .star-ratings .icon-star-empty{
fill: rgb(203, 211, 227)
}
.card__details .star-ratings .icon-star-half{
fill:var(--star-color)
}
.card__details .star-ratings .icon-star-full{
fill:var(--star-color)
}
.card__details h4{
margin-bottom:0;
width:180px;
color:var(--heading-color)
}
.card__character,.card__details h4{
text-align: justify;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis
}
.card__character{
font-size:1.1rem;
color:#cacaca;
margin:0;
width:100%;
color:var(--text-color-subtle)
}
.card__footer{
display:flex;
justify-content:space-between;
align-items:center;
position:relative;
padding-right:.5rem
}
.card__footer p{
color:var(--text-color-subtle);
margin:0
}
.card__footer svg{
fill:#fff;
opacity:1
}
.card__footer .modal__link:hover svg path,.card__footer button:hover svg path{
fill:#ff2e4f
}
.card__footer .modal__link:hover+.tooltip,.card__footer button:hover+.tooltip{
opacity:1;
visibility:visible
}
.genre__card{
width:100%;
height:100%;
text-align:center;
border-radius:10px;
position:relative;
background-repeat:no-repeat;
background-position:50%;
background-size:cover;
box-shadow:0 10px 30px rgba(0,0,0,.3);
margin-bottom:1.6rem;
display:flex;
align-items:center
}
.genre__card:after{
content:"";
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
margin:auto;
width:100%;
height:100%;
background:rgba(5,6,7,.7);
border-radius:10px;
border:1px solid var(--input-background);
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
transition:all .3s ease
}
.genre__card a{
width:100%;
height:100%;
color:#fff;
text-decoration:none;
display:flex;
justify-content:center;
align-items:center;
position:relative;
z-index:2;
padding:3.5rem 0
}
.genre__card h1{
margin:0;
color:#fff
}
.genre__card:hover:after{
background:rgba(49,173,255,.9)
}
.genre__card-details{
width:100%;
height:100%;
position:relative;
z-index:1
}
.container,.container__wrapper{
width:100%;
min-height:100vh;
height:auto;
position:relative
}
.container-full{
width:100%;
position:absolute;
top:0;
left:0
}
.container__wrapper{
padding-top:0;
min-height:100%
}
.backdrop__container:after{
content:"";
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
margin:auto;
width:100%;
height:100%;
background:rgba(5,6,7,.7)
}
.navigation{
z-index: 658665635 !important;
width:100%;
height:80px;
padding:0 4.8rem;
position:absolute;
top:0;
transition:all .3s ease;
box-shadow:none;
z-index:100
}
.navigation__wrapper{
width:100%;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
margin:auto
}
.navigation__menu{
display:flex;
align-items:center;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
transition:all .3s ease
}
.navigation__menu .theme__toggler{
display:none
}
.navigation__menu-wrapper{
display:flex;
justify-content:space-between;
align-items:center;
flex-grow:1
}
.navigation__search{
display:flex;
align-items:center;
position:relative;
padding:1rem 2rem;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
transition:all .3s ease
}
.navigation__link{
color:var(--text-color);
opacity:.7;
display:inline-block;
font-size:1.6rem;
margin:0 1.6rem;
text-decoration:none;
position:relative
}
.navigation__active{
transition: all .5s;
font-weight: 700;
color: #ea0000;
opacity: 1;
}
.navigation__dropdown{
position:relative
}
.navigation__dropdown-item:hover+.navigation__dropdown-wrapper{
visibility:visible;
-webkit-transform:scaleY(1);
-moz-transform:scaleY(1);
-ms-transform:scaleY(1);
transform:scaleY(1);
opacity:1
}
.navigation__dropdown-wrapper{
width:150px;
position:absolute;
top:40px;
left:10px;
z-index:2;
background:#31adff;
opacity:0;
transform-origin:top;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
transition:all .3s ease;
-webkit-transform:scaleY(0);
-moz-transform:scaleY(0);
-ms-transform:scaleY(0);
transform:scaleY(0)
}
.navigation__dropdown-wrapper:hover{
-webkit-transform:scaleY(1);
-moz-transform:scaleY(1);
-ms-transform:scaleY(1);
transform:scaleY(1);
visibility:visible;
opacity:1
}
.navigation__dropdown-wrapper:after{
content:"";
position:absolute;
top:-16px;
left:20%;
margin-left:-5px;
border:8px solid transparent;
border-bottom-color:#31adff
}
.navigation__dropdown-wrapper a{
display:block;
text-decoration:none;
color:#fff;
padding:1.2rem 1.6rem
}
.navigation__dropdown-wrapper a:hover{
background:#0098fd
}
html[data-theme=default] .navigation__logo{
/*  filter:invert(1) brightness(3) */
}
html[data-theme=light] .navigation__logo{
/* filter:invert(0) saturate(3)*/
}
.navigation__logo{
filter:invert(0);
margin:3.2rem
}
.navigation__logo img{
width:153px;
margin-top:5px
}
.navigation__logo h1{
letter-spacing:5px
}
.navigation__toggle{
position:absolute;
left:10px;
font-size:1.8rem!important;
display:none;
color:#fff
}
.navigation__toggle:hover{
cursor:pointer
}
.modal-video{
background:rgba(0,0,0,.8)!important;
z-index:999!important
}
.modal-video-close-btn{
background:#ff2e4f;
padding:2px;
right:0
}
.modal-video-close-btn:after,.modal-video-close-btn:before{
width:30px;
top:0;
bottom:0;
left:0;
right:0;
margin:auto
}
.modal-video-movie-wrap{
background:#111316
}
.modal__link{
text-decoration:none;
display:block;
margin:auto
}
.styles_modal__gNwvD{
background:var(--background-color)!important
}
.modal-video-close-btn{
right:-20px
}
.backdrop__image{
width:100%;
height:100%;
object-fit:cover
}
.footer{
padding:6.8rem 0 3.2rem;
display:flex;
justify-content:center;
align-items:center;
position:relative;
z-index:25
}
.footer span{
font-size:1.3rem
}
.footer i{
color:#ff2e4f
}
.filter{
padding:0 3.2rem 3.2rem;
display:flex;
flex-direction:row;
z-index:40
}
.filter__wrapper{
display:flex;
flex-wrap:wrap;
align-items:center;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
transition:all .3s ease
}
.filter__wrapper .break{
flex-basis:100%;
height:0;
display:none
}
.filter__item span{
color:var(--text-color);
font-size:12px;
opacity:.7;
padding-left:1.2rem
}
.filter__toggle{
width:35px;
height:35px;
padding:0;
display:none;
margin:2rem 0 0;
position:relative
}
.filter__close{
color:var(--text-color);
width:100%;
padding:1.2rem;
text-align:center;
display:flex;
justify-content:center;
align-items:center;
margin-top:1.2rem;
display:none
}
.tab-list{
border-bottom:1px solid var(--input-background);
padding:0 1.6rem;
display:flex
}
.tab-list-item{
display:inline-block;
list-style:none;
margin-bottom:-1px;
padding:2rem 2.5rem;
font-size:1.75rem;
border:1px solid var(--input-background);
border-top-left-radius:.6rem;
border-top-right-radius:.6rem;
opacity:.3;
color:var(--text-color);
background:var(--input-background)
}
.tab-list-item:hover{
cursor:pointer;
opacity:1;
background:var(--input-background-focus)
}
.tab-list-active{
opacity:1;
border-width:1px 1px 0
}
.movie__slider{
width:100%;
position:relative;
height:100vh;
overflow:hidden
}
.movie__slider-wrapper{
position:relative;
width:100%;
height:100%
}
.movie__slider-backdrop{
position:absolute;
top:0;
left:0;
width:100%;
height:100vh;
z-index:0
}
.movie__slider-backdrop:after{
content:"";
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
margin:auto;
width:100%;
height:100%;
border-radius:.6rem;
background:rgba(5,6,7,.7);
z-index:1
}
.movie__slider-backdrop img{
width:100%;
height:100%;
object-fit:cover
}
.movie__slider-content{
width:100%;
height:100vh;
position:relative;
padding:9.375rem 4.8rem 4.8rem;
z-index:2;
display:flex;
justify-content:space-between;
align-items:center
}
.movie__slider-content .view__overview{
color:#f5f5f5
}
.movie__slider-description{
width:50%;
display:flex;
align-content:flex-end;
flex-direction:column;
text-align:left
}
.movie__slider-description h1{
font-size:28px;
color:#fff;
margin-bottom:0
}
.movie__slider-description .view__overview{
max-height:150px
}
.movie__slider-rating{
color:#f5f5f5
}
.movie__slider-button{
width:100%;
display:flex
}
.slick-list,.slick-slider,.slick-track{
height:100%
}
.slick-arrow{
z-index:10;
padding:20px;
border-radius:50%
}
.slick-arrow:before{
font-size:28px;
position:absolute;
left:0;
right:0;
top:5px
}
.slick-next{
right:5%!important
}
.slick-prev{
left:5%!important
}
.slick-dots{
bottom:10px
}
.slick-dots li{
margin:0
}
.slick-dots .modal__link:before,.slick-dots button:before{
width:15px!important;
height:15px!important;
font-size:5px!important;
color:#fff!important
}
.css-1o7d99z {
display: inline-block;
}
.grid{
grid-template-columns:repeat(5,1fr);
grid-gap:1.2rem;
padding:3.2rem 0
}
.grid,.movie__casts-grid{
display: block;
text-align: center;
}
.movie__casts-grid{
grid-template-columns:repeat(4,1fr);
grid-gap:1.2rem
}
.poster{
background:var(--background-color);
padding-bottom:4.8rem
}
.poster__header{
padding-top:4.8rem
}
.poster__card{
height:270px;
overflow:hidden
}
.poster__download{
text-decoration:none;
text-align:center;
width:100%;
padding:1.5rem;
color:#313131
}
.poster__download i{
color:#313131
}
.poster__details{
width:100%;
position:absolute;
bottom:0;
z-index:1;
text-align:center;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
transition:all .3s ease
}
.posters__banner{
height:300px;
position:relative;
padding-top:11.25rem;
margin-bottom:4.8rem
}
.posters__banner:after{
content:"";
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
margin:auto;
background:rgba(5,6,7,.8)
}
.posters__banner img{
position:absolute;
top:0;
width:100%;
height:100%;
object-fit:cover
}
.posters__banner-content{
width:85%;
margin:auto;
position:relative;
z-index:1;
color:#fff
}
.posters__banner-content h1{
color:#fff;
font-size:3.2rem
}
.posters__banner-content span{
color:#f5f5f5
}
.watch__title{
justify-content:space-between
}
.flex__center{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
padding-left: 3%;
padding-right: 5%;
}
.server__select{
outline:0;
cursor:pointer;
font-size:1.8rem
}
.server__select option{
background-color:#fff;
color:#000
}
.lgtbx{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
opacity:0;
visibility:hidden;
transition:.2s;
background-color:rgba(0,0,0,.8);
z-index:149
}
.lgtbx-on .lgtbx{
opacity:1;
visibility:visible
}
.bp__btn-light,.lgtbx-on #main__player{
z-index:150;
box-shadow:0 0 50px rgb(0 0 0 / 50%)
}
#main__player,.bp__btn-light{
text-align: center;
position: relative;
overflow: hidden;
}
#bar__player{
background:#222;
position:relative;
font-size:0;
margin:-4px 0
}
#bar__player .btn{
color:#ccc;
padding:10px 20px;
margin-right:0;
margin-right:2px;
font-weight:700;
border-radius:0
}
.people__card{
margin:0 0 1rem!important
}
.casts__wrapper{
display:grid;
grid-template-columns:repeat(3,1fr);
grid-gap:1.2rem;
justify-items:flex-start;
padding:3.2rem 1.6rem
}
.casts__wrapper a{
width:100%
}
.casts__wrapper a:hover .casts__item{
background:var(--input-background-focus)
}
.casts__item{
width:100%;
display:flex;
background:var(--input-bacground);
border-radius:5px;
box-shadow:0 10px 20px rgba(0,0,0,.1);
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
transition:all .3s ease
}
.casts__avatar{
background:#f1f1f1;
margin-right:1.6rem
}
.casts__avatar,.casts__avatar img{
width:60px;
height:80px;
border-radius:5px
}
.casts__avatar img{
object-fit:cover
}
.casts__details h4{
color:var(--heading-color);
margin:1.6rem 0 0
}
.casts__details p{
color:var(--text-color);
width:180px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis
}
.backdrop__grid{
display:grid;
grid-template-columns:repeat(2,1fr);
grid-gap:1.2rem;
justify-items:center;
padding:3.2rem 1.6rem
}
.backdrop__container{
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:0
}
.backdrop__card .card__image{
height:100%
}
.backdrop__card img{
height:282px
}
.backdrop__card:hover{
cursor:pointer
}
.backdrop__card:hover:after{
content:"";
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
width:100%;
height:100%;
margin:auto;
background:rgba(5,6,7,.6);
background:linear-gradient(180deg,rgba(5,6,7,.1) 0,#31adff 80%);
border-radius:6px
}
.backdrop__card:hover .poster__details{
bottom:0
}
.backdrop__card{
width:100%;
height:282px;
overflow:hidden;
margin-bottom:0
}
.reviews{
padding-bottom:4.8rem
}
.reviews__header{
padding:4.8rem 0 3.2rem
}
.Collapsible{
background:var(--input-background);
border:1px solid var(--input-background-focus);
margin-bottom:1.2rem
}
.Collapsible__trigger{
display:block;
font-weight:700;
text-decoration:none;
position:relative;
border:1px solid var(--input-background);
padding:1.6rem;
background:var(--input-background-focus);
color:var(--text-color)
}
.Collapsible__trigger:after{
content:"?";
position:absolute;
right:10px;
top:15px;
font-size:12px;
display:block;
color:var(--text-color);
transition:transform .3s
}
.Collapsible__trigger.is-open:after{
transform:rotate(180deg)
}
.Collapsible__trigger.is-disabled{
opacity:.5;
background-color:grey
}
.Collapsible__contentInner{
padding:3.2rem
}
.scrolltop{
width:50px;
height:50px;
position:fixed;
bottom:3.2rem;
right:3.2rem;
padding:0;
justify-content:center;
box-shadow:0 15px 20px rgba(0,0,0,.2);
z-index:50;
transform:scale(0);
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
transition:all .3s ease
}
.scrolltop i{
color:#313131
}
.toast-body{
font-family:Yantramanav,Arial,Helvetica,sans-serif
}
.theme__toggler-desktop{
position:fixed;
bottom:2.5rem;
left:2.5rem;
z-index:9999
}
.theme__toggler{
display:flex;
align-items:center;
flex-wrap:wrap;
position:relative
}
.theme-switch__title{
display:none
}
.theme-switch__input:checked~label,.theme-switch__input:checked~main{
color:var(--text-color)
}
.theme-switch__input,.theme-switch__label{
position:relative;
z-index:1
}
.theme-switch__input:hover,.theme-switch__label:hover{
cursor:pointer
}
.theme-switch__input{
opacity:0;
position:absolute
}
.theme-switch__input:focus+.theme-switch__label span:after,.theme-switch__input:hover+.theme-switch__label span:after{
background-color:#d4ebf2
}
.theme-switch__label{
padding:15px;
transition:background-color .2s ease;
width:70px;
height:25px;
border-radius:50px;
text-align:center;
background-color:#1792c7;
box-shadow:inset -4px 4px 15px rgba(0,0,0,.4)
}
.theme-switch__label:after,.theme-switch__label:before{
font-size:2rem;
position:absolute;
transform:translate3d(0,-50%,0);
top:53%
}
.theme-switch__label:after{
content:"\263C";
right:50%;
margin-right:10px;
color:#fff
}
.theme-switch__label:before{
content:"\263E";
left:50%;
margin-left:10px;
color:#fff
}
.theme-switch__label span{
position:absolute;
bottom:calc(100% + 10px);
left:0;
width:100%
}
.theme-switch__label span:after{
position:absolute;
top:calc(100% + 14px);
left:5px;
width:23px;
height:23px;
content:"";
border-radius:50%;
background-color:#fff;
transition:transform .2s,background-color .2s;
box-shadow:-3px 3px 8px rgba(0,0,0,.4);
z-index:3
}
.theme-switch__input:checked~.theme-switch__label{
background-color:#f7ef47
}
.theme-switch__input:checked~.theme-switch__label:after{
color:#313131
}
.theme-switch__input:checked~.theme-switch__label:before{
color:#fff
}
.theme-switch__input:checked~.theme-switch__label span:after{
transform:translate3d(40px,0,0)
}
.movie__overview{
width:100%;
position:relative
}
.movie__overview-wrapper{
padding-top:12rem
}
.movie__header{
padding: 1.6rem 0 1.6rem 1.6rem;
display: flex;
position: relative;
justify-content: space-between;
margin-top: 0rem;
text-align: center;
}
.movie__header-title h1{
margin:0
}
.movie__header-title h3{
color:#a1a1a1;
margin:0;
font-size:1.6rem
}
.movie__casts-content{
display:flex
}
.movie__casts-wrapper{
width:75%;
padding-bottom:6.8rem;
padding-right:4.8rem
}
.movie__casts-header{
padding:4.8rem 0
}
.header__title{
width:100%
}
.mr-small{
margin-right:1rem
}
.icon-large{
width:3.5rem;
height:3.5rem;
fill:currentColor
}
.movie__details{
width:25%;
padding:4.8rem 1.6rem
}
.movie__details div{
margin-bottom:3.2rem
}
.movie__details h4{
margin-bottom:1.2rem
}
.movie__details a,.movie__details p{
font-size:1.25rem
}
.movie__details p{
margin:0
}
.view{
flex-direction:column
}
.view,.view__wrapper{
width:100%;
position:relative;
display:flex;
z-index:1
}
.view__wrapper{
padding-left: 3rem;
padding-top:4.8rem;
padding-bottom:6.8rem
}
.view__poster{
width:350px;
height:400px;
border-radius:.6rem;
position:relative;
overflow:hidden;
margin:0 auto!important
}
.view__poster .lazyLoad{
width:100%!important;
height:100%!important
}
.view__poster img{
width:100%;
height:100%;
border-radius:6px;
box-shadow:0 10px 30px rgba(0,0,0,.3)
}
.view__poster img,.view__poster>div,.view__poster>span{
position:relative;
z-index:1
}
.view__details{
width:100%;
padding:0 4.8rem;
display:flex;
flex-grow:1;
flex-direction:column
}
.view__overview{
width:100%;
max-height:200px;
color:#f5f5f5;
display:block;
display:-webkit-box;
-webkit-line-clamp:7;
-webkit-box-orient:vertical;
overflow:hidden;
text-overflow:ellipsis
}
.view__overview-title{
color:#f5f5f5
}
.view__title{
color:#fff;
font-size:3.2rem;
margin-top:0;
margin-bottom:1.2rem;
position:relative
}
.view__title span{
color:#cacaca
}
.view__info{
color:#cacaca;
margin-top:0
}
.view__info i{
color:var(--star-color)
}
.view__rank{
position:absolute;
color:#fff;
background:#31adff;
top:0;
right:0;
border-top-right-radius:6px
}
.view__rank h6{
padding:1.2rem 1.6rem;
margin:0
}
.view__actions{
width:100%;
display:flex;
align-items:center
}
.view__actions .modal__link,.view__actions button{
margin-right:1.6rem
}
.view__not-found{
margin-top:15.625rem;
text-align:center;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column
}
.back__button{
width:150px;
position:relative;
z-index:10;
padding-top:3.2rem
}
.genre__wrapper{
display:grid;
grid-template-columns:repeat(2,1fr);
grid-gap:1.6rem;
justify-items:center;
padding:3.2rem 1.6rem
}
.error{
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
margin:auto;
text-align:center;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
padding:3.2rem;
z-index:15
}
.error h1{
margin-bottom:0
}
.error p{
margin-bottom:3.2rem;
opacity:.7
}
.p-0{
padding:0
}
.pt-0{
padding-top:0
}
.pb-0{
padding-bottom:0
}
.pl-0{
padding-left:0
}
.pr-0{
padding-right:0
}
.m-0{
margin:0
}
.m-auto{
margin:auto
}
.mt-0{
margin-top:0
}
.mb-0{
margin-bottom:0
}
.ml-0{
margin-left:0
}
.mr-0{
margin-right:0
}
.w-100{
width:100%
}
.text-center{
text-align:center
}
.text-subtle{
opacity:.8
}
.text-subtle span{
text-transform:capitalize
}
.is-navigation-open{
overflow:hidden
}
.is-navigation-open .navigation__menu,.is-search-open .navigation__search{
visibility:visible;
opacity:1;
-webkit-transform:scaleY(1);
-moz-transform:scaleY(1);
-ms-transform:scaleY(1);
transform:scaleY(1)
}
.is-filter-open .filter__wrapper{
opacity:1;
transform:scaleY(1)
}
.is-scrolled .navigation{
position:fixed;
animation:slide-down .3s ease;
animation-fill-mode:forwards;
background:var(--nav-background);
height:80px;
box-shadow:0 8px 20px rgba(0,0,0,.1)
}
.is-scrolled .navigation__active:after{
content:"";
position:absolute;
bottom:-30px;
left:0;
margin:auto;
width:100%;
height:2px;
background:#31adff
}
@keyframes slide-down{
0%{
transform:translateY(-100%)
}
to{
transform:translateY(0)
}
}
@keyframes spin{
to{
transform:rotate(1turn)
}
}
@keyframes fadein{
0%{
opacity:0
}
to{
opacity:1
}
}
@keyframes first-indicator{
0%{
transform:translate(0) scaleX(0)
}
25%{
transform:translate(0) scaleX(.5)
}
50%{
transform:translate(25%) scaleX(.75)
}
75%{
transform:translate(100%) scaleX(0)
}
to{
transform:translate(100%) scaleX(0)
}
}
@keyframes second-indicator{
0%{
transform:translate(0) scaleX(0)
}
60%{
transform:translate(0) scaleX(0)
}
80%{
transform:translate(0) scaleX(.6)
}
to{
transform:translate(100%) scaleX(.1)
}
}
@keyframes fadeInImg{
to{
opacity:1
}
}
@media (min-width:50rem){
.button--favorites,.button--download{
}
.button--favorites,.button--favorites i,.button--download,.button--download i{
color:#f5f5f5!important
}
.desktop-hide{
display:none
}
}
@media (min-width:95rem){
.container,.container__movies,.container__root,.container__wrapper{
width:1360px;
margin:auto
}
.container__movies{
padding:0 4.8rem
}
.navigation__wrapper{
width:1360px
}
.movie__casts,.movie__slider-content{
width:1360px;
margin:auto
}
.back__button{
width:1360px
}
}
@media (max-width:30rem){
h1{
font-size:2.5rem;
line-height:3.5rem
}
p{
font-size:1.3rem;
line-height:2.4rem
}
.modal__link,button{
font-size:1.2rem!important;
padding:1.5rem
}
.search__no-result h1{
font-size:1.5rem
}
.pagination{
max-width:100%;
padding-left:0
}
.card{
width:150px;
height:auto;
margin-bottom:1rem
}
.card__image{
width:150px;
height:225px
}
.card__details .star-ratings{
margin-top:5px
}
.card__details .star-ratings svg{
width:10px!important;
height:10px!important
}
.card__details h4{
width:100%;
margin-top:10px;
font-size:1.3rem
}
.genre__card a{
padding:1.5rem 0
}
.genre__card h1{
font-size:1.8rem
}
.container,.container__wrapper{
padding:5.5rem 5%!important
}
.container__wrapper{
padding-top:0!important;
padding-bottom:0!important
}
.backdrop__container:after{
background:rgba(5,6,7,.3)
}
.navigation{
padding:0
}
.modal-video-close-btn{
right:3%
}
.modal-video-close-btn:after,.modal-video-close-btn:before{
width:20px
}
.styles_modal__gNwvD{
padding:3.2rem!important
}
.tab-list{
padding:0
}
.tab-list-item{
font-size:1.1rem;
padding:1.2rem
}
.movie__slider-content{
width:100%;
padding:0 0 5rem
}
.movie__slider-content .view__overview{
width:100%;
max-height:80px;
overflow:hidden;
text-overflow:ellipsis;
display:block;
display:-webkit-box;
-webkit-line-clamp:3;
-webkit-box-orient:vertical
}
.movie__slider-content .view__poster{
width:120px!important;
height:180px!important
}
.movie__slider-description h1{
font-size:2rem;
line-height:3.2rem
}
.movie__slider-rating{
margin:0;
font-size:1.1rem
}
.movie__slider-button{
margin-top:2rem
}
.slick-arrow{
display:none!important
}
.poster__header{
text-align:center;
padding:1.6rem
}
.poster__card{
height:225px;
margin-bottom:1rem
}
.posters__banner{
margin-bottom:0
}
.posters__banner-content h1{
font-size:1.75rem
}
.posters__banner-content .modal__link,.posters__banner-content button{
left:20px
}
.backdrop__grid{
grid-template-columns:repeat(1,1fr)
}
.backdrop__container{
height:300px
}
.backdrop__card .card__image{
width:100%
}
.backdrop__card img{
height:180px
}
.backdrop__card{
width:100%!important;
height:180px!important
}
.reviews__header{
text-align:center;
padding-top:0
}
.Collapsible__contentInner{
padding:1.6rem 1.2rem
}
.scrolltop{
right:1.6rem;
bottom:1.6rem
}
.movie__overview-wrapper{
padding-bottom:0!important
}
.movie__header{
padding:1.6rem 0;
margin-top:0;
margin-bottom:4rem
}
.movie__header-title h1{
font-size:2rem;
margin-bottom:0
}
.movie__header-title h3{
font-size:1rem
}
.movie__casts-header{
padding-top:0;
padding-bottom:1.6rem;
text-align:center
}
.header__title{
text-align:center
}
.header__title h1{
font-size:2rem
}
.movie__details{
padding:1.6rem 0 0
}
.movie__details div{
margin-bottom:1.2rem
}
.view__wrapper{
padding-top:10rem
}
.view__poster{
width:220px!important;
height:320px!important;
margin-left:0
}
.view__details{
padding:0;
display:flex;
flex-direction:column
}
.view__overview{
color:var(--text-color);
order:3;
margin-top:0;
max-height:none;
overflow:auto;
text-overflow:none;
-webkit-line-clamp:0;
display:block
}
.view__overview-title{
color:var(--heading-color);
display:none
}
.view__title{
color:var(--heading-color);
order:2;
margin-top:0;
font-size:2rem
}
.view__title span{
color:var(--text-color);
font-size:1.6rem
}
.view__info{
color:var(--text-color);
order:1;
margin-top:1.2rem;
margin-bottom:0
}
.view__actions{
order:4;
margin-top:2rem
}
.view__actions .modal__link,.view__actions button{
margin-right:0
}
.back__button{
left:1.6rem;
top:5rem
}
.genre__wrapper{
padding:0
}
.error h1{
font-size:2rem
}
}
@media (max-width:50rem){
.button--favorites,.button--download{
}
.button--favorites,.button--favorites i,.button--download,.button--download i{
color:var(--text-color)
}
.search-history{
width:90%;
top:65px;
left:0;
right:0;
margin:0 auto
}
.search__toggle{
display:block
}
.clear--button{
display:none!important
}
.container,.container__wrapper{
padding:4rem 3.2rem
}
.navigation{
position:fixed!important;
height:50px;
background:var(--nav-background)!important;
box-shadow:0 8px 20px rgba(0,0,0,.1)
}
.navigation__menu{
position:absolute;
left:0;
top:0;
width:100%;
height:100vh;
padding-bottom:5rem;
overflow-y:scroll;
background:var(--nav-menu-background);
flex-direction:column;
visibility:hidden;
opacity:0;
transform-origin:top;
box-shadow:0 10px 20px rgba(0,0,0,.2);
-webkit-transform:scaleY(0);
-moz-transform:scaleY(0);
-ms-transform:scaleY(0);
transform:scaleY(0)
}
.navigation__menu .theme__toggler{
display:flex
}
.navigation__menu-wrapper{
position:absolute;
top:50px;
left:0;
width:100%;
height:100%;
position:fixed;
visibility:hidden
}
.navigation__search{
width:100%;
background:var(--nav-background);
position:absolute;
right:0;
top:0;
justify-content:space-between;
box-shadow:0 10px 20px rgba(0,0,0,.2);
transform-origin:top;
-webkit-transform:scaleY(0);
-moz-transform:scaleY(0);
-ms-transform:scaleY(0);
transform:scaleY(0)
}
.navigation__search input{
width:100%
}
.navigation__link{
display:block;
width:100%;
padding:1.6rem 1.6rem 1.6rem 3.2rem;
margin:0;
border-bottom:1px solid var(--nav-menu-border)
}
.navigation__active{
background:rgba(49,173,255,.1);
border-left:3px solid #31adff
}
.navigation__dropdown{
width:100%
}
.navigation__dropdown-wrapper{
display:none
}
.navigation__logo img{
width:90px
}
.navigation__logo{
width:60%;
margin:0 auto;
text-align:center
}
.navigation__toggle{
display:block
}
.filter{
padding:0;
position:fixed;
right:5%;
box-shadow:0 15px 20px rgba(0,0,0,.1)
}
.filter__wrapper{
position:fixed;
top:50px;
left:0;
z-index:2;
padding:1.6rem;
width:100%;
background:var(--input-background);
transform-origin:top;
box-shadow:0 10px 20px rgba(0,0,0,.2);
opacity:0;
-webkit-transform:scaleY(0);
-moz-transform:scaleY(0);
-ms-transform:scaleY(0);
transform:scaleY(0)
}
.filter__wrapper .break{
display:block
}
.filter__item{
flex-grow:1;
padding:.5rem
}
.filter__item:first-child,.filter__item:nth-child(2){
flex-basis:50%
}
.filter__item select{
width:100%;
margin-bottom:2rem
}
.filter__toggle{
display:block;
margin-top:0
}
.filter__close{
display:block
}
.movie__slider-content{
flex-direction:column;
justify-content:center
}
.movie__slider-content .view__poster{
order:1;
margin:0
}
.movie__slider-description{
width:100%;
text-align:center;
order:2
}
.movie__slider-button{
justify-content:center;
order:4
}
.poster__header{
padding-left:0
}
.backdrop__card:hover:after,.theme__toggler-desktop{
display:none
}
.theme__toggler{
width:100%;
padding:0 3.2rem;
justify-content:space-between;
background:var(--input-background)
}
.theme-switch__title{
display:block
}
.theme-switch__label{
padding:10px;
width:60px;
height:20px
}
.theme-switch__label:after,.theme-switch__label:before{
font-size:1.3rem
}
.theme-switch__label span:after{
width:18px;
height:18px;
top:calc(100% + 11px);
left:3px
}
.theme-switch__input:checked~.theme-switch__label span:after{
transform:translate3d(37px,0,0)
}
.movie__casts-wrapper{
width:100%;
padding:0 3.2rem
}
.movie__details{
width:100%
}
.movie__details div{
display:inline-block;
margin-right:3.2rem
}
.view__wrapper{
width:100%;
flex-direction:column;
padding-bottom:0
}
.view__poster{
width:250px;
height:350px
}
.view__actions .modal__link,.view__actions button{
width:100%;
margin-bottom:1.6rem
}
.back__button{
left:4.8rem
}
.is-scrolled .navigation__active:after{
bottom:0;
top:0;
width:3px;
height:100%;
margin:0
}
}
@media (max-width:20rem){
.card{
width:130px
}
.card__image{
width:130px;
height:190px
}
.card__details .star-ratings svg{
width:8px!important;
height:8px!important
}
.backdrop__image{
heigt:300px
}
.grid{
grid-gap:0
}
}
@media (max-width:64rem){
.grid{
grid-template-columns:repeat(4,1fr)
}
.movie__casts-content{
flex-direction:column
}
.is-scrolled .navigation__active:after{
right:0
}
}
@media (min-width:20rem) and (max-width:30rem){
.backdrop__image{
height:300px
}
.grid{
padding:0;
margin-bottom:3.2rem
}
.grid,.movie__casts-grid{
grid-template-columns:repeat(2,1fr)
}
.casts__wrapper{
grid-template-columns:repeat(1,1fr);
padding-top:0
}
.movie__casts-wrapper{
padding:0;
margin-bottom:5rem
}
}
@media (min-width:30rem) and (max-width:50rem){
.movie__slider-content .view__poster{
width:200px;
height:300px
}
.grid{
padding:3.2rem 0
}
.grid,.movie__casts-grid{
grid-template-columns:repeat(3,1fr)
}
.casts__wrapper{
grid-template-columns:repeat(2,1fr)
}
.view{
margin-top:5rem
}
.view__poster{
margin-left:4.8rem
}
}
/* Caja del comentario
-----------------------*/
.comment-content{
background:#0b0c0e;
padding:13px;
border-radius:10px;
color:#FFFFFF; }
h4{/* Titulo "No hay comentarios/Nro Cometarios" */
border-radius: 10px;
background:#FF4848;
text-align:center;
color:#FFFFFF;
text-shadow: 0px 0px 3px #FFFFFF;
}
.user {/* Nombre del usuario */
background: #101215;
padding: 7px;
margin-left: 10px;
border-radius: 10px;
}
.icon {
background: transparent;
}
.comment-block{/* Caja */
position:static !important; /* Mantiene el Avatar delante */
background:#131519 ;/* Color de Fondo de la Caja */
padding:10px;
border-radius: 15px 15px 15px 15px;
}
.comment-block a{/* Links de la caja*/
font-weight: normal;
}
.avatar-image-container img{/* Avatares de comentarios */
-webkit-transition: all 0.8s ease-out;
-moz-transition: all 0.8s ease-out;
transition: all 0.8s ease-out;
border-radius:50%;
}
.avatar-image-container img:hover{/* Avatares de comentarios "HOVER" con rotacion*/
border-radius:50%;
transform: rotate(360deg) ;
-webkit-transform: rotate(360deg) ;
-moz-transform: rotate(360deg) ;
-o-transform: rotate(360deg) ;
-ms-transform: rotate(360deg) ;
}
.secondary-text a{/* Links Fecha/Responder/Eliminar */
color: #25c1b4;
padding: 3px;
background:#0b0c0e4d;
float: center;
border-radius:5px;
text-shadow: none;
}
.comments .continue a {
background:#FF4848 !important;
color:#fff !important;
float:right!important ;
padding:2px 2px!important;
height:18px;
line-height:10px !important;
margin-top:-1px !important;
text-shadow:0 0 !important;
box-shadow:inset 0 1px 2px #fff;
}
.comments .continue a:hover {
font-style: normal !important;
color: #000 !important;
text-decoration: none;
}