{% extends "Main/LayoutAdmin.html" %}
{% block body %}
  <title>PELICULAS - ADMIN</title>
  <link rel="stylesheet" href="{{url_for('static', filename='/css/Tabla-Guardar.css')}}">
  <div>
  <h1>PELICULAS - ADMIN</h1>
  <div class="nav">
    <a href="#" class="logo">
        
    </a>
    <ul class="nav-menu" id="nav-menu">
        <li id="usuario"><a href="#">Inicio</a></li>
        <li><a href="indexAdmin">Peliculas</a></li>
        <li><a href="indexAdminF">Funciones</a></li>
        <li><a href="indexAdminC">Compras</a></li>
        <li>
          
        </li>
    </ul>
    <!-- MENU PARA CELULAR -->
    <div class="hamburger-menu" id="hamburger-menu">
        <div class="hamburger"></div>
    </div>
    <!-- fin MENU PARA CELULAR -->
</div>
  </div>
  <div class="form-container">
    <h2>PELICULAS</h2>
    
    <form class="formulario" id="formulario">
      <div class="ID">
        <div class="form-group">
          <div class="ID_text">
            <label class="Busqueda">Busqueda por ID:</label>
          </div>
          <input type="text" class="Mondongo" placeholder="Escribe..." id="id">
        </div>
      </div>
      
      <h3>GUARDAR NUEVAS PELICULAS</h3>
      
      <div class="form-group-horizontal">
        <div class="form-group">
          <label class="Titulo">Titulo:</label>
          <input type="text" class="Titulo" placeholder="Escribe..." id="titulo">
        </div>

        <div class="form-group">
          <label class="Genero" >Genero</label>
          <input type="text" class="Genero" placeholder="Escribe..." id="genero">
        </div>
        <div class="form-group">
          <label class="Duración">Duración:</label>
          <input type="text" class="Duracion" placeholder="Escribe..." id="duracion">
        </div>
      </div>
      
      <div class="form-group-horizontal">

        <div class="form-group">
          <label>Sinopsis:</label>
          <input type="text" class="Sinopsis" placeholder="Escribe..." id="sinopsis">
        </div>
        <div class="form-group">
          <label>Director:</label>
          <input type="text" class="Director" placeholder="Escribe..." id="director">
        </div>
        <div class="form-group">
          <label>Img - link:</label>
          <input type="text" class="Imagen" placeholder="Escribe..." id="imagen">
        </div>
        <div class="form-group">
          <label>Trailer - link:</label>
          <input type="text" class="Video" placeholder="Escribe..." id="video">
        </div>
      </div>
      </div>
      <div class="form-group-horizontal">
      <button class="button-agregar"  onclick="sendNewPeliculas()" type="submit">AGREGAR</button>
    </form>
  </div>

  <div class="table-container">
    <h2>Películas</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Género</th>
          <th>Duración</th>
          <th>Sinopsis</th>
          <th>Director</th>
          <th>Img - link</th>
          <th>Trailer</th>
        </tr>
      </thead>
      <tbody id="peliculas-lista">
        <!-- Aquí se agregarán las filas dinámicamente -->
      </tbody>
    </table>
  </div>

  <!-- FOOTER SECTION -->
  <footer class="section">
    <div class="container">
      <div class="row">
        <div class="col-4 col-md-6 col-sm-12">
          <div class="content">
            <a href="#" class="logo">
              <i class='bx bx-movie-play bx-tada main-color'></i>Pe<span class="main-color">lic</span>ulas
            </a>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut veniam ex quos hic id nobis beatae earum sapiente! Quod ipsa exercitationem officiis non error illum minima iusto et. Dolores, quibusdam?
            </p>
          </div>
        </div>
        <div class="col-8 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-3 col-md-6 col-sm-6">
              <div class="content">
                <p><b>Help</b></p>
                <ul class="footer-menu">
                  <li><a href="/acercaDe.html">ACERCA DE NOSOTROS</a></li>
                </ul>
              </div>
            </div>
            <div class="social-list">
              <a href="#" class="social-item">
                <i class="bx bxl-facebook"></i>
              </a>
              <a href="#" class="social-item">
                <i class="bx bxl-twitter"></i>
              </a>
              <a href="#" class="social-item">
                <i class="bx bxl-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <script src="{{url_for('static', filename='/js/BIJS/Tabla-Guardar.js')}}"></script> 
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </div>
  </footer>

{% endblock %}
