/*AQUI ESTA EL CSS DEL ADMINITRADOR*/

/* Estilos generales */

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

h1, h2 {
  text-align: center;
  margin: 20px 0;
  color: #007bff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos del formulario */

.form-container {
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;
  background-color: #111;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.label {
  display: inline-block;
  width: 120px;
  text-align: right;
  font-weight: bold;
  color: #007bff;
}

.input-field {
  margin-left: 10px;
  position: relative;
}

input[type="text"],
textarea {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 6px #007bff;
}

.button-container {
  text-align: center;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #0056b3;
}

/* Estilos de la tabla */

.table-container {
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #111;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 12px;
  border-bottom: 1px solid #007bff;
}

table th {
  background-color: #007bff;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#peliculas-lista td {
  text-align: left;
  color: #fff;
  
}

#peliculas-lista tr:nth-child(even) {
  background-color: #000;
}

/* Animaciones y efectos visuales */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease;
  margin-left: 510px;
}
.Mondongo{
  margin-left: -121px;
  margin-top: 80px;
}
.Busqueda{
  margin-left: 185px;
}
.Sopa{
  margin-left: -90px;
  margin-top: 80px;
}
.ddd{
    margin-left: -45px;<
    margin-top: 70px;
}
.genero {
  margin-left: 630px;
  margin-top: 1000;
}
.Duracion{
    margin-left: -36px;
    margin-top: 70px;
}
.Duración {
  margin-left: 2000;
}
.titulo{
  margin-left: 230px;
}

#inputTitle{
  height: auto;
  width: 50px;
  border: none;
  border-bottom: red;
  
}
#inputTitle:focus::placeholder{
  transform: scaleY(20px);
  color:#570808;
  font-size: small;
  
}